@{
    Layout = "/Views/Shared/_layout.cshtml";

    string selectedCategory = Context.Request.Query["categoryId"];

}



<body>

    <section class="space-bottom-3">
        <div class="bg-gray-200 space-2 space-lg-0 bg-img-hero" style="background-image: url(~/img/1920x588/img1.jpg);">
            <div class="container">
                <div class="js-slick-carousel u-slick" data-pagi-classes="text-center u-slick__pagination position-absolute right-0 left-0 mb-n8 mb-lg-4 bottom-0">
                    <div class="js-slide">
                        <div class="hero row min-height-588 align-items-center">
                            <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                                <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                                    <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2" data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">The Bookworm Editors'</p>
                                    <h2 class="hero__title font-size-14 mb-4" data-scs-animation-in="fadeInUp" data-scs-animation-delay="300">
                                        <span class="hero__title-line-1 font-weight-regular d-block">Featured Books of the</span>
                                        <span class="hero__title-line-2 font-weight-bold d-block">February</span>
                                    </h2>
                                    <a href="../shop/v1.html" class="btn btn-dark btn-wide rounded-0 hero__btn" data-scs-animation-in="fadeInLeft" data-scs-animation-delay="400">See More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="500">
                                <img class="img-fluid" src="~/img/800x420/img1.png" alt="image-description">
                            </div>
                        </div>
                    </div>
                    <div class="js-slide">
                        <div class="hero row min-height-588 align-items-center">
                            <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                                <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                                    <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2" data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">The Bookworm Editors'</p>
                                    <h2 class="hero__title font-size-14 mb-4" data-scs-animation-in="fadeInUp" data-scs-animation-delay="300">
                                        <span class="hero__title-line-1 font-weight-regular d-block">Featured Books of the</span>
                                        <span class="hero__title-line-2 font-weight-bold d-block">February</span>
                                    </h2>
                                    <a href="../shop/v1.html" class="btn btn-dark btn-wide rounded-0 hero__btn" data-scs-animation-in="fadeInLeft" data-scs-animation-delay="400">See More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="500">
                                <img class="img-fluid" src="~/img/800x420/img1.png" alt="image-description">
                            </div>
                        </div>
                    </div>
                    <div class="js-slide">
                        <div class="hero row min-height-588 align-items-center">
                            <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                                <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                                    <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2" data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">The Bookworm Editors'</p>
                                    <h2 class="hero__title font-size-14 mb-4" data-scs-animation-in="fadeInUp" data-scs-animation-delay="300">
                                        <span class="hero__title-line-1 font-weight-regular d-block">Featured Books of the</span>
                                        <span class="hero__title-line-2 font-weight-bold d-block">February</span>
                                    </h2>
                                    <a href="../shop/v1.html" class="btn btn-dark btn-wide rounded-0 hero__btn" data-scs-animation-in="fadeInLeft" data-scs-animation-delay="400">See More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="500">
                                <img class="img-fluid" src="~/img/800x420/img1.png" alt="image-description">
                            </div>
                        </div>
                    </div>
                    <div class="js-slide">
                        <div class="hero row min-height-588 align-items-center">
                            <div class="col-lg-7 col-wd-6 mb-4 mb-lg-0">
                                <div class="media-body mr-wd-4 align-self-center mb-4 mb-md-0">
                                    <p class="hero__pretitle text-uppercase font-weight-bold text-gray-400 mb-2" data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">The Bookworm Editors'</p>
                                    <h2 class="hero__title font-size-14 mb-4" data-scs-animation-in="fadeInUp" data-scs-animation-delay="300">
                                        <span class="hero__title-line-1 font-weight-regular d-block">Featured Books of the</span>
                                        <span class="hero__title-line-2 font-weight-bold d-block">February</span>
                                    </h2>
                                    <a href="../shop/v1.html" class="btn btn-dark btn-wide rounded-0 hero__btn" data-scs-animation-in="fadeInLeft" data-scs-animation-delay="400">See More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="500">
                                <img class="img-fluid" src="~/img/800x420/img1.png" alt="image-description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="space-bottom-3">
        <div class="container">
            <header class="mb-5 d-md-flex justify-content-between align-items-center">
                <h2 class="font-size-7 mb-3 mb-md-0">Newest Books</h2>
            </header>
            <div class="js-slick-carousel u-slick products border" data-pagi-classes="text-center u-slick__pagination mt-md-8 mt-4 position-absolute right-0 left-0" data-slides-show="3" data-responsive='[{
                   "breakpoint": 992,
                   "settings": {
                     "slidesToShow": 2
                   }
                }, {
                   "breakpoint": 768,
                   "settings": {
                     "slidesToShow": 1
                   }
                }, {
                   "breakpoint": 554,
                   "settings": {
                     "slidesToShow": 1
                   }
                }]'>


                @foreach (Product product in Model.NewestProducts)
                {
                    <div class="product product__card border-right">
                        <div class="media p-3 p-md-4d875">
                            <a asp-area="Customer" asp-action="Index" asp-controller="Detail" asp-route-id="@product.Id" class="d-block"><img src="@product.ImageUrl" alt="image-description"></a>
                            <div class="media-body ml-4d875">
                                <div class="text-uppercase font-size-1 mb-1 text-truncate"><a asp-area="Customer" asp-action="Index" asp-controller="Detail" asp-route-id="@product.Id">Hard Cover</a></div>
                                <h2 class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v1.html">@product.Title</a></h2>
                                <div class="font-size-2 mb-1 text-truncate"><a href="../others/authors-single.html" class="text-gray-700">@product.Author</a></div>
                                <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>@product.Price</span>
                                </div>
                            </div>

                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
    <section class="space-bottom-3">
        <div class="left-sidebar">
            <div class="site-content space-bottom-3" id="content">
                <div class="container">
                    <header id="bookbycategory" class="mb-5 d-md-flex justify-content-between align-items-center">
                        <h2 class="font-size-7 mb-3 mb-md-0">Books By Category</h2>
                    </header>
                    <div class="row pt-4 mt-4">

                        <!-- Product area -->
                        <div id="primary" class="content-area order-2">
                            @*product List area*@
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-one-example1" role="tabpanel" aria-labelledby="pills-one-example1-tab">

                                    <ul class="products list-unstyled row no-gutters row-cols-2 row-cols-lg-3 row-cols-wd-4 border-top border-left mb-6">
                                        <!-- Product item -->
                                        @foreach (Product product in Model.Products)
                                        {
                                            if (product.Quantity > 0)
                                            {
                                                <li class="product col">
                                                    <div class="product__inner overflow-hidden p-3 p-md-4d875">
                                                        <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
                                                            <div class="woocommerce-loop-product__thumbnail">
                                                                <a asp-area="Customer" asp-action="Index" asp-controller="Detail" asp-route-id="@product.Id" class="d-block"><img src="@product.ImageUrl" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
                                                            </div>
                                                            <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
                                                                <h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a asp-area="Customer" asp-action="Index" asp-controller="Detail" asp-route-id="@product.Id">@product.Title</a></h2>
                                                                <div class="font-size-2  mb-1 text-truncate"><a class="text-gray-700">@product.Author</a></div>
                                                                <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                                                    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>@product.Price</span>
                                                                </div>
                                                            </div>
                                                            <div class="product__hover d-flex align-items-center">
                                                                <a href="../shop/single-product-v2.html" class="text-uppercase text-dark h-dark font-weight-medium mr-auto" data-toggle="tooltip" data-placement="right" title="" data-original-title="ADD TO CART">
                                                                    <span class="product__add-to-cart">ADD TO CART</span>
                                                                    <span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>

                            @*Pagination*@
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination__custom justify-content-md-center flex-nowrap flex-md-wrap overflow-auto overflow-md-visble">
                                    <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">Previous</a></li>
                                    <!-- un selected page -->
                                    <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">1</a></li>
                                    <!-- selected page -->
                                    <li class="flex-shrink-0 flex-md-shrink-1 page-item active" aria-current="page"><a class="page-link" href="#">3</a></li>
                                    <li class="flex-shrink-0 flex-md-shrink-1 page-item"><a class="page-link" href="#">Next</a></li>

                                </ul>
                            </nav>
                        </div>

                        @*Category area*@
                        <div id="secondary" class="sidebar widget-area order-1" role="complementary">
                            <input type="hidden" id="selectedCategory" value="@selectedCategory" />
                            <div id="widgetAccordion">
                                <div id="woocommerce_product_categories-2" class="widget p-4d875 border woocommerce widget_product_categories">
                                    <div id="widgetHeadingOne" class="widget-head">
                                        <a class="d-flex align-items-center justify-content-between text-dark" href="#" data-toggle="collapse" data-target="#widgetCollapseOne" aria-expanded="true" aria-controls="widgetCollapseOne">
                                            <h3 class="widget-title mb-0 font-weight-medium font-size-3">Categories</h3>
                                            <svg class="mins" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                                <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"></path>
                                            </svg>
                                            <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                                <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"></path>
                                            </svg>
                                        </a>
                                    </div>
                                    <div id="widgetCollapseOne" class="mt-3 widget-content collapse show" aria-labelledby="widgetHeadingOne" data-parent="#widgetAccordion">
                                        <ul class="product-categories">
                                            @foreach (var category in Model.Categories)
                                            {
                                                <li class="cat-item cat-item-45"><a href="?categoryId=@category.Id">@category.Name</a></li>
                                            }
                                            <!-- Category items -->
                                        </ul>
                                    </div>
                                    <script>window.onload = function () {
                                            var selectedCategoryId = document.getElementById("selectedCategory").value;
                                            if (selectedCategoryId !== "") {
                                                window.location.href = `#bookbycategory`;
                                            }
                                        }</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="~/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/vendor/slick-carousel/slick/slick.min.js"></script>
    <script src="~/vendor/multilevel-sliding-mobile-menu/dist/jquery.zeynep.js"></script>
    <script src="~/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/js/hs.core.js"></script>
    <script src="~/js/components/hs.unfold.js"></script>
    <script src="~/js/components/hs.malihu-scrollbar.js"></script>
    <script src="~/js/components/hs.header.js"></script>
    <script src="~/js/components/hs.slick-carousel.js"></script>
    <script src="~/js/components/hs.selectpicker.js"></script>
    <script src="~/js/components/hs.show-animation.js"></script>


    <script>$(document).on('ready', function () {
            // initialization of unfold component
            $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

            // initialization of slick carousel
            $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

            // initialization of header
            $.HSCore.components.HSHeader.init($('#header'));

            // initialization of malihu scrollbar
            $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

            // initialization of show animations
            $.HSCore.components.HSShowAnimation.init('.js-animation-link');

            // init zeynepjs
            var zeynep = $('.zeynep').zeynep({
                onClosed: function () {
                    // enable main wrapper element clicks on any its children element
                    $("body main").attr("style", "");

                    console.log('the side menu is closed.');
                },
                onOpened: function () {
                    // disable main wrapper element clicks on any its children element
                    $("body main").attr("style", "pointer-events: none;");

                    console.log('the side menu is opened.');
                }
            });

            // handle zeynep overlay click
            $(".zeynep-overlay").click(function () {
                zeynep.close();
            });

            // open side menu if the button is clicked
            $(".cat-menu").click(function () {
                if ($("html").hasClass("zeynep-opened")) {
                    zeynep.close();
                } else {
                    zeynep.open();
                }
            });
        });</script>
</body>

