@model FptBookStore.ViewModels.ShoppingCartViewModel
@using System.IO
@using Microsoft.Extensions.Configuration

@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<body class="right-sidebar woocommerce-checkout">
    <div id="content" class="site-content bg-punch-light space-bottom-3">
        <div class="col-full container">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <article id="post-6" class="post-6 page type-page status-publish hentry">
                        <header class="entry-header space-top-2 space-bottom-1 mb-2">
                            <h4 class="entry-title font-size-7 text-center">Checkout</h4>
                        </header>
                        <div class="entry-content">
                            <div class="woocommerce">
                                <form name="checkout" method="post" class="checkout woocommerce-checkout row mt-8" enctype="multipart/form-data" novalidate="novalidate" method="post">
                                    <div class="col2-set col-md-6 col-lg-7 col-xl-8 mb-6 mb-md-0" id="customer_details">
                                        <div class="px-4 pt-5 bg-white border">
                                            <div class="woocommerce-billing-fields">
                                                <h3 class="mb-4 font-size-3">Billing details</h3>
                                                <div class="woocommerce-billing-fields__field-wrapper row">
                                                    <p class="col-12 mb-4d75 form-row form-row-wide" id="billing_company_field" data-priority="30">
                                                        <label asp-for="OrderHeader.Name" class="form-label">Full name</label>
                                                        <input asp-for="OrderHeader.Name" type="text" class="input-text form-control" id="billing_company" placeholder="" autocomplete="organization">
                                                        <span asp-validation-for="OrderHeader.Name"></span>
                                                    </p>

                                                    <p class="col-12 mb-4d75 form-row form-row-wide" id="billing_company_field" data-priority="30">
                                                        <label asp-for="OrderHeader.PhoneNumber" class="form-label">Phone number</label>
                                                        <input asp-for="OrderHeader.PhoneNumber" type="text" class="input-text form-control" id="billing_company" placeholder="" autocomplete="organization">
                                                        <span asp-validation-for="OrderHeader.PhoneNumber"></span>
                                                    </p>

                                                    <p class="col-12 mb-3 form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="50">
                                                        <label asp-for="OrderHeader.StreetAddress" class="form-label">Street address</label>
                                                        <input asp-for="OrderHeader.StreetAddress" type="text" class="input-text form-control" id="billing_company" placeholder="" autocomplete="organization">
                                                        <span asp-validation-for="OrderHeader.StreetAddress"></span>
                                                    </p>
                                                    <p class="col-12 mb-3 form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="50">
                                                        <label asp-for="OrderHeader.City" class="form-label">City</label>
                                                        <input asp-for="OrderHeader.City" type="text" class="input-text form-control" id="billing_company" placeholder="" autocomplete="organization">
                                                        <span asp-validation-for="OrderHeader.City"></span>
                                                    </p>
                                                    <p class="col-12 mb-3 form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="50">
                                                        <label asp-for="OrderHeader.State" class="form-label">State</label>
                                                        <input asp-for="OrderHeader.State" type="text" class="input-text form-control" id="billing_company" placeholder="" autocomplete="organization">
                                                        <span asp-validation-for="OrderHeader.State"></span>
                                                    </p>
                                                    <p class="col-12 mb-3 form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="50">
                                                        <label asp-for="OrderHeader.PostalCode" class="form-label">Postal code</label>
                                                        <input asp-for="OrderHeader.PostalCode" type="text" class="input-text form-control" id="billing_company" placeholder="" autocomplete="organization">
                                                        <span asp-validation-for="OrderHeader.PostalCode"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="px-4 pt-5 bg-white border border-top-0 mt-n-one">

                                        </div>
                                    </div>
                                    <h3 id="order_review_heading" class="d-none">Your order</h3>
                                    <div id="order_review" class="col-md-6 col-lg-5 col-xl-4 woocommerce-checkout-review-order">
                                        <div id="checkoutAccordion" class="border border-gray-900 bg-white mb-5">
                                            <div class="p-4d875 border">
                                                <div id="checkoutHeadingOnee" class="checkout-head">
                                                    <a href="#" class="text-dark d-flex align-items-center justify-content-between collapsed" data-toggle="collapse" data-target="#checkoutCollapseOnee" aria-expanded="false" aria-controls="checkoutCollapseOnee">
                                                        <h3 class="checkout-title mb-0 font-weight-medium font-size-3">Your order</h3>
                                                        <svg class="mins" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"></path>
                                                        </svg>
                                                        <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div id="checkoutCollapseOnee" class="mt-4 checkout-content collapse" aria-labelledby="checkoutHeadingOnee" data-parent="#checkoutAccordion" style="">
                                                    <table class="shop_table woocommerce-checkout-review-order-table">
                                                        <thead class="d-none">
                                                            <tr>
                                                                <th class="product-name">Product</th>
                                                                <th class="product-total">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- Cart item area -->
                                                            @foreach (var item in Model.ListCart)
                                                            {
                                                                <tr class="cart_item">
                                                                    <td class="product-name">
                                                                        @item.Product.Title&nbsp; <strong class="product-quantity">× @item.Product.Price</strong>
                                                                    </td>
                                                                    <td class="product-total">
                                                                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>@Html.Raw(item.Product.Price * item.Count)</span>
                                                                    </td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                        <tfoot class="d-none">
                                                            <tr class="cart-subtotal">
                                                                <th>Subtotal</th>
                                                                <td>
                                                                    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>@Model.OrderHeader.OrderTotal</span>
                                                                </td>
                                                            </tr>
                                                            <tr class="order-total">
                                                                <th>Total</th>
                                                                <td><strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>@Model.OrderHeader.OrderTotal</span></strong> </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="p-4d875 border">
                                                <div id="checkoutHeadingOne" class="checkout-head">
                                                    <a href="#" class="text-dark d-flex align-items-center justify-content-between collapsed" data-toggle="collapse" data-target="#checkoutCollapseOne" aria-expanded="false" aria-controls="checkoutCollapseOne">
                                                        <h3 class="checkout-title mb-0 font-weight-medium font-size-3">Cart Totals</h3>
                                                        <svg class="mins" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"></path>
                                                        </svg>
                                                        <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div id="checkoutCollapseOne" class="mt-4 checkout-content collapse" aria-labelledby="checkoutHeadingOne" data-parent="#checkoutAccordion" style="">
                                                    <table class="shop_table shop_table_responsive">
                                                        <tbody>
                                                            <tr class="checkout-subtotal">
                                                                <th>Subtotal</th>
                                                                <td data-title="Subtotal">
                                                                    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>@Model.OrderHeader.OrderTotal</span>
                                                                </td>
                                                            </tr>
                                                            <tr class="order-shipping">
                                                                <th>Shipping</th>
                                                                <td data-title="Shipping">Free Shipping</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>


                                            <div class="p-4d875 border">
                                                <table class="shop_table shop_table_responsive">
                                                    <tbody>
                                                        <tr class="order-total">
                                                            <th>Total</th>
                                                            <td data-title="Total"><strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>@Model.OrderHeader.OrderTotal</span></strong> </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="p-4d875 border">
                                                <div id="checkoutHeadingThreee" class="checkout-head">
                                                    <a href="#" class="text-dark d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#checkoutCollapseThreee" aria-expanded="true" aria-controls="checkoutCollapseThreee">
                                                        <h3 class="checkout-title mb-0 font-weight-medium font-size-3">Payment</h3>
                                                        <svg class="mins" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="2px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M0.000,-0.000 L15.000,-0.000 L15.000,2.000 L0.000,2.000 L0.000,-0.000 Z"></path>
                                                        </svg>
                                                        <svg class="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
                                                            <path fill-rule="evenodd" fill="rgb(22, 22, 25)" d="M15.000,8.000 L9.000,8.000 L9.000,15.000 L7.000,15.000 L7.000,8.000 L0.000,8.000 L0.000,6.000 L7.000,6.000 L7.000,-0.000 L9.000,-0.000 L9.000,6.000 L15.000,6.000 L15.000,8.000 Z"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div id="checkoutCollapseThreee" class="mt-4 checkout-content collapse show" aria-labelledby="checkoutHeadingThreee" data-parent="#checkoutAccordion" style="">
                                                    <div id="payment" class="woocommerce-checkout-payment">
                                                        <ul class="wc_payment_methods payment_methods methods">
                                                            <li class="wc_payment_method payment_method_bacs">

                                                                <label for="ml-4 pl-4 payment_method_bacs" style="display: block;">  VISA/MASTER CARD </label>
                                                                <div class="payment_box payment_method_bacs" style="display: block;">
                                                                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-4d875 border">
                                                <table class="shop_table shop_table_responsive">
                                                    <tbody>
                                                        <tr class="order-total">
                                                            <p style="color:maroon; font-size:14px;">Estimate Arrival Date: @DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()</p>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="form-row place-order">
                                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                    @{ string stripePublishableKey = new ConfigurationBuilder().SetBasePath(Directory.GetCurrentDirectory()).AddJsonFile("appsettings.json", true, true).Build()["StripeStrings:StripePublishableKey"]; }
                                                    data-key="@stripePublishableKey"
                                                    @{ var orderTotal = @Model.OrderHeader.OrderTotal * 100;}
                                                    data-amount=@orderTotal
                                                    data-name="FPT BookStore"
                                                    data-label="Place Order"
                                                    data-locale="auto"
                                                    data-allow-remember-me="false"
                                                    data-image="https://us.123rf.com/450wm/uasumy/uasumy1509/uasumy150900038/45874733-mockup-book-logo-flipping-colored-pages-of-the-book-emblem-of-the-bookstore-or-library.jpg?ver=6"></script>
                                            <script>document.getElementsByClassName("stripe-button-el")[0].style.display = "none";</script>
                                            <button type="submit" value="Place Order" class="button alt btn btn-dark btn-block rounded-0 py-4">Place Order</button>
                                        </div>
                                </form>
                            </div>
                        </div>

                    </article>

                </main>

            </div>

        </div>

    </div>

</body>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
